<!DOCTYPE HTML>
<html>
	<!-- edit a task -->
	
	<h1>Edit task</h1>
	
	<%= form_for @task do |f| %>
		<table>
			<tr>
				<td>Head:</td>
				<td><%= f.text_field :head, value: @task.head, class: "task_head_field" %></td>
			</tr>
			<tr>
				<td>Body:</td>
				<td><%= f.text_area :body, value: @task.body, class: "task_body_area" %></td>
			</tr>
		</table>

		<%= f.submit "Confirm", class: "submit_button" %>

	<% end %>
	
	<%= link_to "Cancel", "/tasks/#{@task.id}" %>
</html>