<!DOCTYPE HTML>
<html>
	<!-- edit a task -->
	
	<h1>Edit task</h1>
	
	<%= form_for @task do |f| %>
		Head: <%= f.text_field :head, value: @task.head %><br>
		Body: <%= f.text_field :body, value: @task.body %><br>

		<%= f.submit "Confirm" %>

	<% end %>
	
	<%= link_to "Cancel", "/tasks/#{@task.id}" %>
</html>