<!DOCTYPE HTML>
<html>
	<!-- create a new task -->
	
	
	<h1>New task</h1>

	<div>
		<%= form_for :task do |f| %>

			Head: <%= f.text_field :head %><br>
			Body: <%= f.text_area :body %><br>
			<%= f.submit "Create Task" %>

		<% end %>

		<%= link_to "Cancel", "/" %>
	</div>
</html>