<!DOCTYPE HTML>
<html>
	<!-- create a new task -->
	
	
	<h1>New task</h1>

	<div>
		<%= form_for :task do |f| %>

			<table>
				<tr>
					<td>Head:</td>
					<td><%= f.text_field :head, class: "task_head_field"%></td>
				</tr>
				<tr>
					<td>Body:</td>
					<td><%= f.text_area :body, class: "task_body_area" %></td>
				</tr>
			</table>

			<td><%= f.submit "Create" %>

		<% end %>

		<%= link_to "Cancel", "/" %>
	</div>
</html>