<!DOCTYPE HTML>
<html>
	<!-- create a new task -->
	
	
	<h1>New task</h1>

	<div>
		<%= form_for :task do |f| %>

			<%= f.text_field :head %>
			<%= f.text_area :body %>
			<%= f.submit "Create" %>

		<% end %>

		<%= link_to "Cancel", "/" %>
	</div>
</html>