<!DOCTYPE HTML>
<html>
	<!-- view a specific task -->
	
	<div>
		<div class="show_task_title"> <%= @task.head %> </div>
		<div class="show_task_timestamp"><%= "Created at #{@task.created_at}" %> </div>
		<div class="show_task_links">
			<%= link_to "Edit", "/tasks/#{@task.id}/edit" %>
			<%= link_to "Delete", "/tasks/#{@task.id}", method:"delete"%>
			<%= link_to "Back", "/" %>
		</div>
	</div>
	<br>
	<div><%= @task.body %> </div>
	<br>
	<div>
		<b>Tags:</b><br>
		<% @task.tags.each do |tg| %>
			<%= link_to "x", "/tasks/#{@task.id}/delete_tag/#{tg.id}", method:"delete" %>
			<%= tg.name %>
			<br>
		<% end %>
	</div>

	<%= form_for :tag do |f|%>
		<%= f.text_field :name %>
		<%= f.submit "Add tag", class: "submit_button" %>
	<% end %>

</html>