<!DOCTYPE html>
<html>
  <head>
    <title>TodoList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

	<% if current_user %>
		<%= link_to "Main", "/" %>
		<%= current_user().username %>
		<%= link_to "Logout", "/logout", method: "delete" %>
	<% else %>
		<%= link_to "Sign in", "/login" %>
		<%= link_to "Sign up", "/signup" %>
	<% end %>

    <%= yield %>
  </body>
</html>
