<!DOCTYPE html>
<html>
	<!-- present in all screens - header -->
	
	
  <head>
    <title>TodoList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

	<div id="top_bar">
		<% if current_user %>
			<%= link_to "Main", "/" %> |
			<%= link_to "New", "/new" %> |
			<%= link_to "Search", "/search" %>

			<div class="align_right">
				<%= current_user().username %> |
				<%= button_to "Logout", "/logout", method: "delete", class: "link_button" %>
			</div>
		<% else %>
			<%= link_to "Sign in", "/login" %> |
			<%= link_to "Sign up", "/signup" %>
		<% end %>
	</div>

    <%= yield %>
  </body>
</html>
