<!DOCTYPE html>
<html>
	<!-- create new user -->

	<h1>Create new user</h1>
	
	<div>
		<%= form_for :user do |f| %>

		<!-- if the user controller indicates that a user with the same username already exists, then indicate this
		to the user and prompt them to try again. -->
		<% if flash[:error_message] %>
			<div class="error_message"><%= flash[:error_message] %></div>
		<% end %>

		<table>
			<tr>
				<td>Username:</td>
				<td><%= f.text_field :username %></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><%= f.password_field :password %></td>
			</tr>
		</table>
			<%= f.submit "Create account", class: "submit_button" %>
		<% end %>
	</div>
</html>